<% if @order_discount_code.nil? %>
  $('th.apply-code').html("Apply discount code <span class='text text-danger'>Wrong or expired code</span>")
<% elsif @order_discount_code.errors.any? %>
  $('th.apply-code').html("Apply discount code <span class='text text-danger'><%= @order_discount_code.errors.messages[:order].join(', ') %></span>")
<% else %>
  $('th.apply-code').html("Apply discount code")
  $('form.discount_code').remove();
  $('tr#order_total').before("<%= j render 'discount_code', checkout: @cart %>")
  $('tr#order_total td:last').html("<strong><%= number_to_currency(@cart.total) %></strong>")
<% end %>