<fieldset>	
			
	<div id="code" class="col-md-4">
		<%= f.label :code, :class => "control-label" %>
		<%= f.text_field :code, :class => "form-control" %>
	</div>
	
	<div id="times_of_use" class="col-md-8">
		<%= f.label :times_of_use, :class => "control-label" %>
		<%= f.text_field :times_of_use, :class => "form-control" %>
	</div>
	
</fieldset>