<%= link_to cart_path, :class => "btn btn-success navbar-btn btn-xs" do %>
	<i class="fa fa-shopping-cart"></i>
	<span id="cart_item_count">&nbsp;
	<% unless @cart.empty? %>
		<%= "#{@cart.item_count.to_i} item".pluralize(@cart.item_count) %> in your cart 
	<% else %>
		Cart Empty
	<% end %>
	</span>
<% end %>