<div id=item_"<%= item.id %>" class="media item_listing">
	<div class="media-left">
		<a href="#">
			<%= image_tag "#{item.default_image_path}", :class => "media-object", :height => "64", :width => "64" %>
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading"><%= link_to "#{item.number} - #{item.name}", "#{item.category.slug}/#{item.slug}" %></h4>
		<%= item.description %>
	</div>
</div>