<% unless @items.results.nil? %>
  <% @items.results.each do |i| %>
    <% if i && i.active? %>
      <%= render :partial => "shop/item", :locals => {:i => i} unless i.nil? %>
    <% end %>
  <% end %>
<% else %>
<p>Sorry, No items were found!</p>
<% end %>
