<% content_for :title do %><%= @category.name %><% end %>

<h1><%= @category.name %></h1>

<% if @category.children.count > 0 %>
<ul class="nav nav-pills">
<% @category.children.each do |cat| %>
	<li><%= link_to "#{cat.name}", "#{cat.slug}" %></li>
<% end %>
</ul>
<% end %>

<% @category.items.each do |i| %>
	<%= render :partial => "shop/item", :locals => {:i => i} %>
	<%# link_to "#{i.name}", "#{@category.slug}/#{i.slug}" %><br/>
<% end %>