<% content_for :title do %>Search Results: <%= params[:keywords] %><% end %>

<div class="page-header">
	<h1>Search Results: <%= params[:keywords] %></h1>
</div>

<% unless @items.nil? %>
	<% @items.each do |item| %>
		<%= render :partial => "item", :locals => {:i => item} %>
	<% end %>
<% else %>
<p>Sorry, No items were found!</p>
<% end %>	  

<% if @items and @items.size > 0 %>
	<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
<% end %> 