<!-- Bootstrap inspired Braintree Hosted Fields example -->
<div class="panel panel-default bootstrap-basic">
  <div class="panel-heading">
    <h3 class="panel-title">Enter Card Details</h3>
  </div>
  <form class="panel-body" action="<%= checkout_fast_create_cc_url %>" method="post">
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="control-label">Card Number</label>
        <!--  Hosted Fields div container -->
        <div class="form-control" id="card-number"></div>
        <span class="helper-text"></span>
      </div>
      <div class="form-group col-sm-4">
        <div class="row">
          <label class="control-label col-xs-12">Expiration Date</label>
          <div class="col-xs-6">
            <!--  Hosted Fields div container -->
            <div class="form-control" id="expiration-month"></div>
          </div>
          <div class="col-xs-6">
            <!--  Hosted Fields div container -->
            <div class="form-control" id="expiration-year"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label">Security Code</label>
        <!--  Hosted Fields div container -->
        <div class="form-control" id="cvv"></div>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label">Zipcode</label>
        <!--  Hosted Fields div container -->
        <div class="form-control" id="postal-code"></div>
      </div>
    </div>

    
    <button value="submit" id="submit" class="btn btn-success btn-lg center-block">Pay with <span id="card-type">Card</span></button>
  </form>

<!-- Load the required client component. -->
<script src="https://js.braintreegateway.com/web/3.31.0/js/client.min.js"></script>

<!-- Load Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.31.0/js/hosted-fields.min.js"></script>
							
							<script>
								 
								braintree.client.create({
								  authorization: 'sandbox_g42y39zw_348pk9cgf3bgyw2b'
								}, function (err, clientInstance) {
								  if (err) {
								    console.error(err);
								    return;
								  }

								  braintree.hostedFields.create({
								    client: clientInstance,
								    styles: {
								      'input': {
								        'font-size': '14px',
								        'font-family': 'helvetica, tahoma, calibri, sans-serif',
								        'color': '#3a3a3a'
								      },
								      ':focus': {
								        'color': 'black'
								      }
								    },
								    fields: {
								      number: {
								        selector: '#card-number',
								        placeholder: '4111 1111 1111 1111'
								      },
								      cvv: {
								        selector: '#cvv',
								        placeholder: '123'
								      },
								      expirationMonth: {
								        selector: '#expiration-month',
								        placeholder: 'MM'
								      },
								      expirationYear: {
								        selector: '#expiration-year',
								        placeholder: 'YY'
								      },
								      postalCode: {
								        selector: '#postal-code',
								        placeholder: '90210'
								      }
								    }
								  }, function (err, hostedFieldsInstance) {
								    if (err) {
								      alert(err);
								      return;
								    }

								    hostedFieldsInstance.on('validityChange', function (event) {
								      var field = event.fields[event.emittedBy];

								      if (field.isValid) {
								        if (event.emittedBy === 'expirationMonth' || event.emittedBy === 'expirationYear') {
								          if (!event.fields.expirationMonth.isValid || !event.fields.expirationYear.isValid) {
								            return;
								          }
								        } else if (event.emittedBy === 'number') {
								          $('#card-number').next('span').text('');
								        }
                
								        // Remove any previously applied error or warning classes
								        $(field.container).parents('.form-group').removeClass('has-warning');
								        $(field.container).parents('.form-group').removeClass('has-success');
								        // Apply styling for a valid field
								        $(field.container).parents('.form-group').addClass('has-success');
								      } else if (field.isPotentiallyValid) {
								        // Remove styling  from potentially valid fields
								        $(field.container).parents('.form-group').removeClass('has-warning');
								        $(field.container).parents('.form-group').removeClass('has-success');
								        if (event.emittedBy === 'number') {
								          $('#card-number').next('span').text('');
								        }
								      } else {
								        // Add styling to invalid fields
								        $(field.container).parents('.form-group').addClass('has-warning');
								        // Add helper text for an invalid card number
								        if (event.emittedBy === 'number') {
								          $('#card-number').next('span').text('Looks like this card number has an error.');
								        }
								      }
								    });

										hostedFieldsInstance.on('cardTypeChange', function (event) {
											// Handle a field's change, such as a change in validity or credit card type
											if (event.cards.length === 1) {
												$('#card-type').text(event.cards[0].niceType);
											} else {
												$('#card-type').text('Card');
											}
										});

										$('.panel-body').submit(function (event) {
											event.preventDefault();
											hostedFieldsInstance.tokenize(function (err, payload) {
												if (err) {
													alert(err);
													return;
												}

								        // This is where you would submit payload.nonce to your server
												alert(payload.nonce);
												data = {nonce: "payload.nonce", account_id: "<%= current_user.account_id %>"}
												console.log(data);
												$.post("<%= checkout_fast_create_cc_url %>.js", function(data, status){
													if (status == 200) {
														alert("all good");
													}
												});
											});
										);
									});
								});
							</script>
							
				
				<%= link_to "Cancel", checkout_fast_back_to_payment_path, remote: true %>