<div id="checkout_payment" class="col-md-12">
	
	<div class="col-md-3 text-right">
		<strong>Payment Method:</strong>
	</div>
	
	<div class="col-md-9" id="payment_method">
		
		<%= render :partial => "checkout/fast/payment"%>
		
	</div>
	
</div>