<div id="checkout_address" class="col-md-12">
	
	<div class="col-md-3 text-right">
		<strong>Shipping Address:</strong>
	</div>
	
	<div class="col-md-9" id="shipping_address">
		
		<%= render :partial => "checkout/fast/address"%>
		
	</div>
	
</div>
