<div class="widget panel">

	<div class="panel-body">

		<table class="table">
			<thead>
				<tr>
					<th class="text-left"><strong>Card</strong></th>
					<th class="text-right"><strong>Expiration</strong></th>
				</tr>
			</thead>
			<tbody>
				<% account.credit_cards.each do |cc| %>
				<% c = Stripe::Customer.retrieve(account.stripe_customer_id).sources.retrieve(cc.stripe_card_id) %>
				<tr>
					<td class="text-left"><i class="fa fa-lg fa-cc-<%= c.brand.downcase %>"></i>&nbsp;<%= "#{c.funding} **#{c.last4}" %></td>
					<td class="text-right"><%= "#{c.exp_month}/#{c.exp_year}" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>

	<div class="panel-footer">
		<%= link_to "New Credit Card", new_account_credit_card_path(account_id: account.id), class: "btn btn-warning", :remote => true %>
	</div>

</div>