<!-- FOOTER -->
<footer id="footer">
	<div class="container">

		<div class="row margin-top-60 margin-bottom-40 size-13">

			<!-- col #1 -->
			<div class="col-md-4 col-sm-4">

				<!-- Footer Logo -->
				<img class="footer-logo" src="assets/supply.us/logo-footer.png" alt="" />

				<p>
					Incredibly beautiful responsive Bootstrap Template for Corporate and Creative Professionals.
				</p>

				<h2>(800) 123-4567</h2>

				<!-- Social Icons -->
				<div class="clearfix">

					<a href="#" class="social-icon social-icon-sm social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>

					<a href="#" class="social-icon social-icon-sm social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>

					<a href="#" class="social-icon social-icon-sm social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
						<i class="icon-gplus"></i>
						<i class="icon-gplus"></i>
					</a>

					<a href="#" class="social-icon social-icon-sm social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>

					<a href="#" class="social-icon social-icon-sm social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
						<i class="icon-rss"></i>
						<i class="icon-rss"></i>
					</a>

				</div>
				<!-- /Social Icons -->

			</div>
			<!-- /col #1 -->

			<!-- col #2 -->
			<div class="col-md-8 col-sm-8">

				<div class="row">

					<div class="col-md-5 hidden-sm hidden-xs">
						<h4 class="letter-spacing-1">RECENT NEWS</h4>
						<ul class="list-unstyled footer-list half-paddings">
							<li>
								<a class="block" href="#">New CSS3 Transitions this Year</a>
								<small>June 29, 2015</small>
							</li>
							<li>
								<a class="block" href="#">Inteligent Transitions In UX Design</a>
								<small>June 29, 2015</small>
							</li>
							<li>
								<a class="block" href="#">Lorem Ipsum Dolor</a>
								<small>June 29, 2015</small>
							</li>
							<li>
								<a class="block" href="#">New CSS3 Transitions this Year</a>
								<small>June 29, 2015</small>
							</li>
						</ul>
					</div>

					<div class="col-md-3 hidden-sm hidden-xs">
						<h4 class="letter-spacing-1">EXPLORE US</h4>
						<ul class="list-unstyled footer-list half-paddings noborder">
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> About Us</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> About Me</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> About Our Team</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> Services</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> Careers</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> Gallery</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> FAQ</a></li>
						</ul>
					</div>

					<div class="col-md-4">
						<h4 class="letter-spacing-1">SECURE PAYMENT</h4>
						<p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet.</p>
						<p>	<!-- see assets/supply.us/cc/ for more icons -->
							<img src="assets/supply.us/cc/Visa.png" alt="" />
							<img src="assets/supply.us/cc/Mastercard.png" alt="" />
							<img src="assets/supply.us/cc/Maestro.png" alt="" />
							<img src="assets/supply.us/cc/PayPal.png" alt="" />
						</p>
					</div>

				</div>

			</div>
			<!-- /col #2 -->

		</div>

	</div>

	<div class="copyright">
		<div class="container">
			<ul class="pull-right nomargin list-inline mobile-block">
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li>&bull;</li>
				<li><a href="#">Privacy</a></li>
			</ul>

			&copy; All Rights Reserved, Company LTD
		</div>
	</div>

</footer>
<!-- /FOOTER -->