<section class="info-bar info-bar-clean">
	<div class="container">
		
		<div class="row">
			
			<div class="col-sm-3">
				<i class="glyphicon glyphicon-globe"></i>
				<h3>FREE SHIPPING &amp; RETURN</h3>
				<p>Free shipping on all orders over $99.</p>
			</div>

			<div class="col-sm-3">
				<i class="glyphicon glyphicon-usd"></i>
				<h3>MONEY BACK GUARANTEE</h3>
				<p>100% money back guarantee.</p>
			</div>

			<div class="col-sm-3">
				<i class="glyphicon glyphicon-flag"></i>
				<h3>ONLINE SUPPORT 24/7</h3>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>

			<div class="col-sm-3">
				<i class="glyphicon glyphicon-heart"></i>
				<h3><span class="countTo">9845</span> HAPPY CUSTOMERS</h3>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>

		</div>

	</div>
	
</section>