<!-- PAGE HEADER 

	CLASSES:
	.page-header-xs	= 20px margins
	.page-header-md	= 50px margins
	.page-header-lg	= 80px margins
	.page-header-xlg= 130px margins
	.dark			= dark page header

	.shadow-before-1 	= shadow 1 header top
	.shadow-after-1 	= shadow 1 header bottom
	.shadow-before-2 	= shadow 2 header top
	.shadow-after-2 	= shadow 2 header bottom
	.shadow-before-3 	= shadow 3 header top
	.shadow-after-3 	= shadow 3 header bottom -->
<section class="page-header page-header-xs">
	<div class="container">
		<h1><%= yield :title %></h1>
		
		<!-- breadcrumbs -->
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Shop</a></li>
			<li class="active">4 Columns</li>
		</ol><!-- /breadcrumbs -->
	</div>
</section>
<!-- /PAGE HEADER -->