<div class="search-box over-header">
	<a id="closeSearch" href="#" class="glyphicon glyphicon-remove"></a>
	
	<form action="page-search-result-1.html" method="get">
		<input type="text" class="form-control" placeholder="SEARCH" />
	</form>
</div>