<div id="topBar">
	<div class="container">
		<!-- right -->
		<%= render :partial => "shop/common/auth_bar" %>
		
		<!-- left -->
		<ul class="top-links list-inline">
			<li class="hidden-xs"><a href="page-faq-1.html">FAQ</a></li>
		</ul>
	
	</div>
</div>