<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Edit SKU group</h4>
</div>

<div class="modal-body" id="modal-body">
	
	<% if @sku_group_form.errors.any? %>
		<div id="flash_messages" class="alert alert-danger" role="alert">
			<strong><%= @sku_group_form.errors.full_messages.join(', ') %></strong>
		</div>
	<% end %>
	
	<%= form_for @sku_group_form, url: sku_group_path(@sku_group_form.id, search_params), method: :patch, remote: true, html: {class: "form-horizontal", id: "edit_sku_group_#{@sku_group_form.id}"} do |f| %>
		<%= render :partial => "sku_groups/form", :locals => {:f => f}%>
	<% end %>
	
</div>

<div class="modal-footer">
	<%= button_tag(:name => :commit, :type => :submit, :class => "btn btn-primary", :form => "edit_sku_group_#{@sku_group_form.id}") do %>
		Update SKU group
	<% end %>
</div>
