<% content_for :app_location do %>Admin / Payments / Index<% end %>
<div id="payments" class="col-md-12">

	<table class="table table-bordered table-condensed">
		
		<tr>
			<th>Date</th>
			<th>Payment Type</th>
			<th>Payent Amount</th>
			<th>Applied Amount</th>
			<th>Unapplied amount</th>
			<th>Authorization Code</th>
			<th>Finalize</th>
			<th>Completed?</th>
			<th>View Applications</th>
			<th>&nbsp;</th>
		</tr>
	
		<%= render partial: 'payment', collection: @payments %>	
	</table>

	<%= will_paginate @payments, renderer: BootstrapPagination::Rails %>

	<%= link_to new_payment_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
		
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>