<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Edit Address</h4>
</div>

<div class="modal-body" id="modal-body">
	
	<% if @address.errors.any? %>
		<div id="flash_messages" class="alert alert-danger" role="alert">
			<strong><%= @address.errors.full_messages.join(', ') %></strong>
		</div>
	<% end %>
	
	<%= form_for @address, as: :address, url: address_path(@address, term: params[:term]), :remote => true, :html => {:class => "form-horizontal", id: "edit_address_#{@address.id}"} do |f| %>
		<%= render :partial => "addresses/form", :locals => {:f => f}%>
	<% end %>
	
</div>

<div class="modal-footer">
	<%= button_tag(:name => :commit, :type => :submit, :class => "btn btn-primary", :form => "edit_address_#{@address.id}", params: { term: params[:term] }) do %>
		Update Address
	<% end %>
</div>
