<table class="table table-bordered table-condensed table-striped">
	
	<tr>
		<td colspan="2"><%= link_to "Add Account Item Price", new_account_item_price_path(:item_id => item.id), :class => "btn btn-primary btn-block btn-xs", :remote => true %>
	</tr>
	
	<tr>
		<th>Account</th>
		<th>Price</th>
	</tr>

	<% item.account_item_prices.each do |it| %>
	<tr>
		<td><%= it.account.name %></td>
		<td><%= (it.price == it.item.actual_price(it.account_id)) ? number_to_currency(it.item.actual_price(it.account_id)) : ' - ' %></td>
	</tr>
	<% end %>

</table>
