<table class="table table-bordered table-condensed table-striped">
	
	<tr>
		<th>Warehouse</th>
		<th>Bin</th>
		<th>Quantity</th>
	</tr>

	<% item.inventories.includes(bin: :warehouse).each do |inv| %>
		<tr>
			<td><%= link_to inv.bin.warehouse.name, inv.bin.warehouse if inv.bin && inv.bin.warehouse %></td>
			<td><%= link_to inv.bin.name, inv.bin if inv.bin %></td>
			<td><%= inv.qty_on_hand %></td>
		</tr>
	<% end %>

</table>