html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

body > .navmenu {
	width: 200px;
}

.navmenu {
	padding-top: 50px;
	background-color: #fff;
	border-color: #e7e7e7;
}

.navmenu > .nav-pills > li > a {
	border-radius: 0;
}

.navmenu > ul.nav.nav-pills.nav-stacked > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
}

.navbar {
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
  position: absolute;
}

@media (min-width: 768px) {
  body {
    padding: 0 0 0 200px;
  }
	.navbar-fixed-bottom {
		margin-top: 20px;
		padding: 0 0 0 200px;
	}
}

.navbar-fixed-bottom {
	z-index: 1 !important;
}

.sub-menu {
	padding: 10px;
	margin-bottom: 0 !important;
	background-color: rgb(240, 240, 240);
	list-style: none;
	border-top: 1px solid rgb(231,231,231);
	border-bottom: 1px solid rgb(231,231,231);
}

.sub-menu > li {
	padding-left: 15px;
}