/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require google_plus
 *= require autocomplete
 *= require nav
 *= require recurring
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@media print {
	body#print {
		.thead {
/*			display: table-header-group;*/
		}
		padding-top: 0 !important;
		margin-top: 0 !important;
		font-size: 10px !important;
		#main-panel {
			font-size: 10px !important;
			display: block;
			table {
				clear: both;
				margin-left: 0;
				padding-right: 0;
				tr.line_items {
					display: table-row; 
					page-break-before: always;
				}
			}
		}	
	}
}