@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
	font-family: sans-serif;
/*	background-color: yellow;*/
}

body.florida {
	font-family: 'Ubuntu', sans-serif;
/*	margin-top: 2px;*/
	background-color: #eee;
	#main {
		background-color: rgb(255, 255, 255);
/*		margin-top: 3px;*/
		border-right: solid 1px rgb(221, 221, 221);
		border-left: solid 1px rgb(221, 221, 221);
	}
	.container {
		#nav_bar {
			padding-top: 10px;
			border-bottom: solid 2px #f8f8f8;
			/* for min-width of 768px */
			padding-left: 15px;
			padding-right: 15px;
			/* end min-width of 768px */
			.header-top-left {
				float: left;
			}
			.header-top-right {
				float: right;
			}
		}
		#main_nav_bar {
			background-color: #fff;
			#header_banner {
				padding-top: 0;
				padding-bottom: 0;
				margin-left: 0;
				margin-right: 0;
				#MainLogo {
					padding-top: 10px;
					padding-bottom: 5px;
					a {
						img {
							width: 100%;
							height: 100%;
						}
					}
				}
				#MainSearchBox {
					padding-top: 15px;
					padding-bottom: 15px;
					.input-group {
						width: 100%;
						form#searchBox {
							display: inherit;
						}
					}
				}
				#MainPhoneNumber {
					padding-top: 15px;
					padding-bottom: 15px;
					phone {
						height: 34px;
						font-size: x-large;
					}
				}
				.col-md-3 {
					padding-left: 0;
					padding-right: 0;
				}
			}
			#main_nav {
				border-radius: 0;
				border-right: 0;
				border-left: 0;
			}
		}
		#content {
			@media (min-width: 767px) {
				min-height: 380px;
			}
			background-color: #fff;
			margin-bottom: 10px;
			aside {
				@media (min-width: 767px) {
					padding-right: 0;
				}
			}
			#center-panel {
				.page-header {
					margin: 0 0 5px;
				}
			}
		}
		footer {
			background-color: rgb(248, 248, 248);
			border-top: solid 1px rgb(221, 221, 221);
			.footer-spacer {
				height: 10px;
			  left: -1px;
			  position: absolute;
			  right: -1px;
			  z-index: 999;
			  background-color: rgb(238, 238, 238);
			}
			#badges {
				background-color: rgb(255, 255, 255);
				padding: 10px !important;
				border-top: 1px solid rgb(221, 221, 221);
				border-bottom: 1px solid rgb(221, 221, 221);
				margin-top: 10px;
			}
			#address {
				background-color: rgb(255, 255, 255);
				padding: 10px !important;
				border-top: 1px solid rgb(221, 221, 221);
				border-bottom: 1px solid rgb(221, 221, 221);
			}
			.col-md-6 {
				padding-left: 15px !important;
				padding-right: 15px;
			}
			#footer-bottom {
				text-align: justify;
				background-color: rgb(238, 238, 238);
				border-top: solid 1px rgb(221, 221, 221);
				padding-top: 10px;
			}
			.pay_logo {
				margin-top: 10px;
				height: 55px;
			}
		}
	}
}

a#cart {
	@media (max-width: 767px) {
		margin-left: 15px;
	}
}

ul.taxons-list {
	list-style: none;
	display: inline;
}

ul.filter_choices {
	list-style: none;
	display: inline;
}


.panel {
	border-radius: 0;
	padding: 0;
	margin: 5px;
	.panel-heading {
		margin: 0;
	}
}

.thumbnail {
	border-radius: 0;
}

.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.no-margin-left {
	margin-left: 0 !important;
}
.no-margin-right {
	margin-right: 0 !important;
}
.first {
	margin-left: 0;
}
.product_type_showcase {
	height: 110px;
}
.logos {
	a.logo {
		text-align: center;
		padding: 5px;
	}
	a.logo.col-md-3 {
		img.logo {
			height: 35px;
		}
	}
	a.logo.col-md-4 {
		img.logo {
			height: 50px;
		}
	}
}

.home.col-md-3 {
	padding-left: 0;
	padding-right: 0;
}
.home.col-sm-4 {
	padding-left: 0;
	padding-right: 0;
}

#nav_bar_mobile {
	margin-bottom: 40px;
	padding: 0;
}

@media(max-width: 599px) {
	ul#account_links {
		background-color: #eeeeee;
		margin-top: 0;
		margin-bottom: 0;
	}
}


ul.phone {
	margin: 0;
	li.phone {
		font-size: x-large;
		vertical-align: middle;
		a {
			vertical-align: -webkit-baseline-middle;
		}
	}
}

.shopping_cart.col-md-9, {
	padding-left: 0;
	padding-right: 0;
	.cart-item-description-header {
		font-size: large;
		padding-left: 0;
	}
	.cart-item-quantity {
		width: 80px;
	}
	.cart-item-image {
		h4 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.col-md-3, .col-md-4, .col-md-5, .col-md-7, .col-md-8, .col-md-9, .col-sm-6, .col-sm-8{
		padding-left: 0;
		padding-right: 0;
	}
}

.inner{
	.form-group#bfirstname, .form-group#sfirstname {
		padding-left: 0;
		padding-right: 5px;
	}
	.form-group#blastname, .form-group#slastname {
		padding-left: 5px;
		padding-right: 0;
	}
	.form-group#bcity, .form-group#scity {
		padding-left: 0;
		padding-right: 5px;
	}
	.form-group#bstate, .form-group#sstate{
		padding-left: 0;
		padding-right: 0;
	}
	.form-group#bzipcode, .form-group#szipcode {
		padding-left: 5px;
		padding-right: 0;
	}
	
}

.cart-summary {
	margin-top: 10px;
	text-transform: uppercase;
}
tr.cart-subtotal {
	border-top: 2px solid rgb(221, 221, 221);
}
td.text-left {
	padding-left: 0 !important;
}
td.text-right {
	padding-right: 0 !important;
}
tr.cart-total {
/*	td.text-left {*/
		h4 {
			margin-top: 0;
			margin-bottom: 0;
		}
/*	}*/
}
div.well-break {
	border-bottom: 2px solid rgb(211, 211, 211);
	height: 10px;
	margin: 10px 0 15px;
	position: relative;
	.or {
		background: rgb(245, 245, 245);
	  display: block;
	  padding: 0 5px;
	  position: absolute;
	  top: 0;
	  left: 42%;
	  text-transform: uppercase;
	}
}


.outer {
	margin-left: -5px;
	margin-right: -5px;
}

.category {
	img.product_type_showcase {
		height: 195px;
		z-index: 2;
	}
	.description {
		position: relative;
		z-index: 1;
		margin-top: -60px !important;
		margin-left: -15px;
	  margin-right: -15px;
	  margin-bottom: -15px;
	  border-top-width: 1px;
	  border-top: 10px solid rgb(221, 221, 221); 
	  padding-top: 5px;
	  padding-bottom: 5px;
	  background-color: rgb(245, 245, 245);
	  margin-top: 10px;
	  height: 65px;
		vertical-align: middle;
	}
}

.comodo {
	z-index: 1000;
	bottom: 5px;
	right: 7px;
}

.collapse.sub-menu {
	margin-top: 1px;
}

.filters {
	.panel-heading {
/*		background-color: rgb(242, 242, 242);*/
		border-bottom-color: rgb(221, 221, 221);
	}
	
	ul.list-group.sub {
		margin-top: 1px;
		a {
			font-size: smaller;
		}
	}
	.panel-heading.sub_sub {
		background-color: rgb(252, 252, 252);
	}
	
	ul.list-group.sub_sub {
		margin-bottom: 0;
		.panel-heading.sub_sub_sub {
			background-color: wihite !important;
		}
	}

}
.toner-finder {
	margin: 0;
/*	height: 285px;*/
}
.home-text {
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 2px solid rgb(221,221,221);
	border-bottom: 2px solid rgb(221,221,221);
	h1 {
		margin: 0;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 24px;
		font-family: sans-serif;
		color: rgb(119,119,119);
	}
}
.logos {
	display: flex;
	justify-content: space-around;
	img.logo {
		margin: 5px;
		opacity: 0.7;
		filter: grayscale(70%);
		-webkit-filter: grayscale(70%);
	}
}
.alert {
	padding: 0;
	padding-left: 15px;
}

.btn {
	border-radius: 1px;
}
.no-border {
	border: none !important;
}

.shipping {
	margin-bottom: 10px;
}
input.form-control {
	border-radius: 1px;
}
.modal {
	top: 25%;
	.modal-content {
		width: 100%;
		border-radius: 0;
		padding: 10px;
		display: flex;
		button.close {
			position: absolute;
		  top: 2px;
		  right: 5px;
		  background-color: rgb(255, 255, 255);
			z-index: 999;
		}
		.modal-title {
			margin-bottom: 10px;
		}
		.modal-body {
			width: 100%;
		}
	}
}

.modal {
	#modal-content {
		background-color: rgb(255, 255, 255);
	}
}
.gold {
	color:	#dad66; /*if no support for background-clip*/
	background: -webkit-linear-gradient(transparent, transparent),
	-webkit-linear-gradient(top, rgba(213,173,109,1) 0%, 
	rgba(213,173,109,1) 26%, 
	rgba(226,186,120,1) 35%, 
	rgba(163,126,67,1) 45%, 
	rgba(145,112,59,1) 61%, 
	rgba(213,173,109,1) 100%);
	background:	-o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cart {
	.btn {
		margin: 0;
	}
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}



#mobile-search {
	padding-left: 0;
	padding-right: 0;
	form {
		margin: 0;
		border: 0;
		padding: 8px;
		padding-left: 15px;
		input {
			box-shadow: inset 0 0 0 0 !important;
		}
	}
}

ul#account_links {
	border-bottom: 1px solid;
	li {
		padding-left: 0;
		padding-right: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		a {
			display: inline;
		}
		div.cart {
			padding-left: 15px;
		}
	}
}

#flashes {
	.alert {
		padding: 15px;
	}
}

.everyday-essentials {
	padding-right: 0;
	@media (max-width: 991px) {
		padding-left: 0;
		margin-top: 10px;
	}
}

.featured-items {
	.col-md-2 {
		padding: 0;
	}
	.panel-heading {
		min-height: 125px;
	}
/*	.panel-body {
		height: 150px;
	}*/
	.panel-footer {
		height: 50px;
	}
}
.monospaced { 
	font-family: 'Ubuntu Mono', monospaced; 
}
.add-to-cart .btn-qty {
  width: 52px;
  height: 46px;
}
.add-to-cart .btn { 
	border-radius: 0; 
}

.hlt {
	font-weight: bold;
	background-color: rgb(255, 255, 0);
} 
.search-result {
	white-space: normal;
}

.preloader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: asset-url("preloader.gif") no-repeat 50% 50% rgba(255, 255, 255, 0.6);
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}