<% content_for :app_location do %>Admin / Categories / Index<% end %>
<div id="categories" class="col-md-12">

	<table class="table table-bordered table-condensed" id="categories-table" data-source="<%= datatables_categories_path(format: :json) %>">
  	<thead>
			<tr>
				<th>ID</th>
				<th>Parent</th>
				<th>Name</th>
				<th>Slug</th>
				<th>Active</th>
				<th>Show In Menu</th>
				<th>Menu ID</th>
				<th>Children</th>
				<th>Items</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	
	<%= link_to new_category_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
	
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>