<!-- BRANDS -->
<section class="padding-xxs">
	<div class="container">

		<!-- 
			controlls-over		= navigation buttons over the image 
			buttons-autohide 	= navigation buttons visible on mouse hover only
			
			data-plugin-options:
				"singleItem": true
				"autoPlay": true (or ms. eg: 4000)
				"navigation": true
				"pagination": true
		-->
		<div class="text-center">
			<div class="owl-carousel nomargin" data-plugin-options='{"singleItem": false, "autoPlay": 3000}'>
				<div>
					<img class="img-responsive" src="assets/supply.us/demo/brands/1.jpg" alt="">
				</div>
				<div>
					<img class="img-responsive" src="assets/supply.us/demo/brands/2.jpg" alt="">
				</div>
				<div>
					<img class="img-responsive" src="assets/supply.us/demo/brands/3.jpg" alt="">
				</div>
				<div>
					<img class="img-responsive" src="assets/supply.us/demo/brands/4.jpg" alt="">
				</div>
				<div>
					<img class="img-responsive" src="assets/supply.us/demo/brands/5.jpg" alt="">
				</div>
				<div>
					<img class="img-responsive" src="assets/supply.us/demo/brands/6.jpg" alt="">
				</div>
				<div>
					<img class="img-responsive" src="assets/supply.us/demo/brands/7.jpg" alt="">
				</div>
				<div>
					<img class="img-responsive" src="assets/supply.us/demo/brands/8.jpg" alt="">
				</div>
			</div>
		</div>

	</div>
</section>
<!-- BRANDS -->