<% if Category.find_by(:slug => "must-have-items") %>
<!-- FEATURED -->
<section>
	<div class="container">
		
		<div class="heading-title heading-dotted">
			<h2 class="size-20">FEATURED PRODUCTS</h2>
		</div>

		<ul class="shop-item-list row list-inline nomargin">
			
			<% Category.find_by(slug: "must-have-items").item_categories.each_slice(6).with_index do |slice, idx| %>
				
				<% unless slice.size != 6 and idx > 0 %>
				
					<% slice.each do |i| %>
						<%= render :partial => "shop/home/featured_item", :locals => {:item => i.item} %>
					<% end %>
					
					<% end %>
			
			<% end %>
		</div>

	</div>
</section>
<!-- /FEATURED -->
<% end %>