<!DOCTYPE html>
<html>
<head>
  <title>Supply.us</title>
  <%= stylesheet_link_tag    "supply.us/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "supply.us/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Supply.Us</h1>
<%= yield %>

</body>
</html>