<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Index</Data></Cell>
        <Cell><Data ss:Type="String">Item Id</Data></Cell>
        <Cell><Data ss:Type="String">QTY Ordered</Data></Cell>
        <Cell><Data ss:Type="String">Item Number</Data></Cell>
      </Row>        
      <% OrderLineItem.from_to_by_account_id(@from_date, @to_date, nil).select { |li| li.qty > 0 }.each_with_index do |li, i| %>
        <Row>
          <Cell><Data ss:Type="String"><%= i %></Data></Cell>
          <Cell><Data ss:Type="String"><%= li.item_id %></Data></Cell>
          <Cell><Data ss:Type="String"><%= number_with_delimiter(li.qty) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= li.number %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>