<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Edit Account</h4>
</div>

<div class="modal-body" id="modal-body">
	
	<% if @account.errors.any? %>
		<div id="flash_messages" class="alert alert-danger" role="alert">
			<strong><%= @account.errors.full_messages.join(', ') %></strong>
		</div>
	<% end %>
	
	
	<%= form_for @account, as: :account, url: account_path(@account, term: params[:term]), :remote => true, :html => {:class => "form-horizontal", id: "edit_account_#{@account.id}"} do |f| %>
		<%= render :partial => "accounts/form", :locals => {:f => f}%>
	<% end %>
	
</div>

<div class="modal-footer">
	<%= button_tag(:name => :commit, :type => :submit, :class => "btn btn-primary", :form => "edit_account_#{@account.id}") do %>
		Update Account 
	<% end %>
</div>
